@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,700&display=swap');

:root {
  --primary-color: #f59e0b;
  --dark-grey: #4b5563;
  --off-white: #f3f4f6;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

hr {
  margin: 1.5rem 0;
}

/* heading (general) */
h3 {
  font-size: 1.5rem;
}

/* spaces */
.space {
  margin: 3rem 0rem;
}

/* container */
.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.plink {
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: white;
}

.slink {
  color: var(--primary-color);
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
}

/* lists */
.nobullet {
  list-style: none;
}

.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
  font-size: 1.3rem;
}

/* nav */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.nav-brand {
  font-size: 2.5rem;
  font-weight: 800;
}

.navigation .link {
  color: white;
}

.nav-pills {
  text-align: right;
}

.active {
  font-weight: bold;
}

/* header */
.hero {
  padding: 2rem;
}

.hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero-heading {
  font-size: 2rem;
  color: var(--dark-grey);
  padding-top: 1rem;
  text-align: center;
}

.hero-highlight {
  color: var(--primary-color);
}

/* about me */
.insta-link {
  text-decoration: none;
  color: black;
}

.arrow-link {
  height: 0.5rem;
}

/* section */
.section {
  padding: 2rem;
}

.section h3 {
  text-align: center;
}

.offwhite {
  background-color: var(--off-white);
}

/* technologies */
.tech-para {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 0px;
}

#skills li {
  list-style-type: none;
}

#skills {
  padding: 30px 20px;
}

#skills ul {
  margin: 20px 0px;
}

#skills li {
  padding: 10px;
  grid-column: span 4;
  text-align: center;
}

@media screen and (min-width:620px) {
  #skills {
    padding: 30px 100px;
  }
}

@media screen and (min-width:920px) {
  .grid {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
  }

  #skills {
    padding: 30px 20px;
  }

  #skills ul {
    margin: 30px auto;
  }

  #skills li {
    grid-column: span 2;
  }
}


/* footer */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  border-top-right-radius: 1rem;
}

.footer a {
  color: white;
}

.footer ul {
  padding-inline-start: 0;
}

.footer-header {
  font-size: 1.2rem;
  font-weight: 300px;
}

.social-links .list-inline:hover {
  font-weight: bold;
}
